body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(237, 242, 247);
    margin: 0;
}

nav {
    background-color: rgb(156, 209, 255);
    color: black;
    padding: 1rem;
}

nav a {
    color: hsl(208, 100%, 42%);
    margin-right: 25px;
    text-decoration:underline;
}

.container {
    padding: 2rem;
}

.card-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card-pass {
    background-color: aquamarine;
    color: rgb(24, 48, 40);
    padding: 1rem;
    margin: 0rem 5% 1% 0rem;
}

.card-fail {
    background-color: rgb(255, 191, 191);
    color: rgb(24, 48, 40);
    padding: 1rem;
    margin: 0rem 5% 1% 0rem;
}

