body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    margin: 0;
}

nav {
    background-color: rgb(188, 221, 250);
    color: black;
    padding: 1rem;
}

nav a {
    color: blue;
    margin-right: 25px;
    text-decoration: none;
}

.container {
    padding: 2rem;
}

.card-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.card-pass {
    background-color: aquamarine;
    color: rgb(24, 48, 40);
    padding: 1rem;
    margin-right: 5%;
}

.card-fail {
    background-color: rgb(255, 191, 191);
    color: rgb(24, 48, 40);
    padding: 1rem;
    margin: 0rem 75% 1% 0rem;
}

.passed {
    color: green;
}

.failed {
    color: red;
}
